.scoreboard {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/08/07/99/82/240_F_807998249_OIfXOPTlcdyRY5WmfysUcXAXP0dafRsx.jpg");
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}



.wrapper {
    width: 430px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}


.wrapper .content {
    margin: 25px 25px 35px;
}
